fairseq==0.12.2
flashlight-text==0.0.7
edit_distance==0.8.1
jiwer==3.0.3
librosa==0.10.0

# git clone https://github.com/flashlight/sequence && cd sequence
# pip install .

# https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/parse_options.sh 